@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
    font-family: "Logo";
    src: url(fonts/CursiveSerif-Bold.ttf);
}

:root {
    --incorrect-color: rgb(184, 26, 26);
    --site-palette-color: #d66d22;
    --focused-input-color: rgb(11, 110, 209);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Roboto";
}

button {
    width: 220px;
    background-color: var(--site-palette-color);
    border: none;
    font-size: 18px;
    font-weight: Bold;
    height: 52px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    cursor: pointer;
}

a {
    color: aliceblue;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    font-family: "Logo";
    letter-spacing: -2px;
    background-color: rgba(0, 0, 0, 0.1);
}


.image {
    position: relative;
    display: flow-root;
    min-width: 700px;
    height: 100%;
    background: url(images/background.jpg);
    background-size: 120%;
    background-position: 55% top;
    background-repeat: no-repeat;
}

.photo-c {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color:aliceblue;
}

#logo {
    height: 130px;
    width: auto;
}


.form {
    background-color: #F9FAFB;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding-left: 50px;
}

form {
    margin-left: -50px;
    padding: 30px 0 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 24px -19px #000000;
}

.description {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

.log-in {
    text-decoration: none;
    color: var(--site-palette-color);
    font-weight: 600;
}

.form:last-child {
    font-size: 18px;
}

/* Form */

.form-title {
    font-size: 25px;
    font-weight: 500;
}

.input-wrapper {
    display: flex;
    gap: 70px;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 25px
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(43, 40, 40);
}

input {
    border: 1px solid rgb(226, 222, 222);
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 2px;
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    height: 33px;
    width: 250px;
    outline: none;
}

input:focus {
    border: 1px solid var(--focused-input-color);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}

#wrong-password-match {
        visibility: hidden;
        color: var(--incorrect-color);
        font-size: 13px;
        margin-top: -22px;
}